@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

@layer base {
    body {
        @apply min-h-screen bg-gray-900 text-gray-100;
        font-family: 'Nunito', sans-serif;
        -webkit-tap-highlight-color: transparent;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-semibold;
    }

    main {
        @apply min-h-screen;

        & > h1 {
            @extend .text-gradient;
            @apply mb-2 mt-28 text-center text-4xl font-bold md:text-5xl;

            & + h3 {
                @apply mb-2 text-center text-base font-semibold text-gray-300 md:text-2xl;
            }
        }
    }

    section {
        @apply mx-auto my-6 mt-10 max-w-screen-xl md:mb-20;

        & > h3 {
            @apply mb-8 text-center text-3xl font-semibold md:text-4xl md:font-bold;
        }
    }
}

@layer components {
    .gradient {
        @apply bg-gradient-to-br from-primary-500 to-secondary-600;
    }

    .btn {
        @apply inline-flex items-center justify-center gap-3 rounded-full bg-gray-700 px-6 py-2 text-base font-medium transition md:text-xl;

        // trnalate 2nd element on hover
        &:hover {
            .animate {
                @apply translate-x-1 -translate-y-1 transition;
            }
        }

        &:hover {
            @apply scale-105 md:scale-110;
        }

        &-gradient {
            @extend .gradient;
            @extend .btn;
            @apply rounded-full px-8 font-semibold;
        }
    }

    .text-gradient {
        @extend .gradient;
        @apply bg-clip-text text-transparent;
    }
}

.link {
    @apply font-medium text-blue-500 hover:text-primary-500 hover:underline;
}
